@page "/AddClient"
@using DatabaseManager.Client
@using DatabaseManager
<h3>AddClient</h3>

@code {
    private List<ClientSchema> clients = new List<ClientSchema>();
    // TODO: Create db config
    // private DatabaseConfig dbcfg = new DatabaseConfig(); 
    
    private void AddClientToDatabase()
    {
        
    }
    
}